# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output files from the go coverage tool
*.out

# Build directories
bin/

# Dependency directory (if using Go modules, vendor is usually not required)
vendor/

# IntelliJ IDEA project files
.idea/
.DS_Store/
.air.toml